aiofiles==23.2.1
aiohttp==3.11.11
anyio==4.8.0
datasets==3.2.0
evaluate==0.4.3
fastapi==0.115.8
gradio==5.14.0
huggingface_hub==0.28.0
numpy==2.2.2
opencv-python==4.11.0
orjson==3.10.15
pandas==2.2.3
pillow==11.1.0
pydantic==2.10.6
pytesseract==0.3.13
python-dotenv==1.0.1
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.1
seqeval==1.2.2
starlette==0.45.3
torch==2.5.1
tqdm==4.67.1
transformers==4.48.2
typer==0.15.1
uvicorn==0.34.0
